.one:hover ~ #hrtab3 {
    margin-left: 0%;
}

.two ~ #hrtab3 {
    margin-left: 25%;
}

.three:hover ~ #hrtab3 {
    margin-left: 50%;
}

#hrtab3 {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: blue;
    border: none;
    transition: .3s ease-in-out;
}